<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
         
  <servlet>
    <servlet-name>BXTriangularArbitrageServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.TriangularArbitrageServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>c8167cc36075</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>caa19aba0ef7</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>THB</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>2000</param-value>
    </init-param>
   <init-param>
	    <param-name>interval</param-name>
    		<param-value>60</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>candidatedScore</param-name>
    		<param-value>0.99</param-value>
    </init-param>
    <init-param>
	    <param-name>currencyFilters</param-name>
    		<param-value>THB</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.bx.BXExchange</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BXTriangularArbitrageServlet</servlet-name>
    <url-pattern>/bx_tri_arb</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BXForceSellServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.ForceSellServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>c8167cc36075</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>caa19aba0ef7</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>THB</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>2000</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>1000</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.bx.BXExchange</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BXForceSellServlet</servlet-name>
    <url-pattern>/bx_forcesell</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ABUTriangularArbitrageServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.TriangularArbitrageServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>10530894-QNYDHZ40FMBX1VUTG8PIEROALK539W6C</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>VFthfVVuI0suamlWOVF3eGB5V0dILTReSU8sZXJYITJCRlA6MWgkbHQ3PyVmQVk1</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>PLN</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>200</param-value>
    </init-param>
   <init-param>
	    <param-name>interval</param-name>
    		<param-value>60</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>candidatedScore</param-name>
    		<param-value>0.99</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.abu.ABUCoinsExchange</param-value>
    </init-param>
    <init-param>
	    <param-name>currencyFilters</param-name>
    		<param-value>PLN</param-value>
    </init-param>    
  </servlet>
  <servlet-mapping>
    <servlet-name>ABUTriangularArbitrageServlet</servlet-name>
    <url-pattern>/abu_tri_arb</url-pattern>
  </servlet-mapping>    
  
  <servlet>
    <servlet-name>ABUForceSellServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.ForceSellServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>10530894-QNYDHZ40FMBX1VUTG8PIEROALK539W6C</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>VFthfVVuI0suamlWOVF3eGB5V0dILTReSU8sZXJYITJCRlA6MWgkbHQ3PyVmQVk1</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>PLN</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.abu.ABUCoinsExchange</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABUForceSellServlet</servlet-name>
    <url-pattern>/abu_forcesell</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>BINTriangularArbitrageServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.TriangularArbitrageServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>eFNd0DlkVTTKSBe0PEFWpLDLZd937Lbv2uGiMCgWBN7qsOirHGtVDOTB4PnnIP2M</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>bT236BTNKzAhKWgMpmaNhZzRU3FUzc9B7ANI0vFKi7c3pYoQIkAY4dVtOoR7lw2X</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>0</param-value>
    </init-param>
   <init-param>
	    <param-name>interval</param-name>
    		<param-value>60</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.binance.BinanceExchange</param-value>
    </init-param>
    <init-param>
	    <param-name>candidatedScore</param-name>
    		<param-value>0.99</param-value>
    </init-param>
    <init-param>
	    <param-name>minAmountPlaces</param-name>
    		<param-value>2</param-value>
    </init-param>    
    <init-param>
	    <param-name>currencyFilters</param-name>
    		<param-value>BTC</param-value>
    </init-param> 
  </servlet>
  <servlet-mapping>
    <servlet-name>BINTriangularArbitrageServlet</servlet-name>
    <url-pattern>/bin_tri_arb</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>BINForceSellServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.ForceSellServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>eFNd0DlkVTTKSBe0PEFWpLDLZd937Lbv2uGiMCgWBN7qsOirHGtVDOTB4PnnIP2M</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>bT236BTNKzAhKWgMpmaNhZzRU3FUzc9B7ANI0vFKi7c3pYoQIkAY4dVtOoR7lw2X</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>BTC</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>100</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.binance.BinanceExchange</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BINForceSellServlet</servlet-name>
    <url-pattern>/bin_forcesell</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LiveTriangularArbitrageServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.TriangularArbitrageServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>4sKS7g6De4ceu15ETJHGCeH32wENgvhV</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>mQjf2TQMqxm8SQFBdxYmyxaE6U7qxmGv</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>0</param-value>
    </init-param>
   <init-param>
	    <param-name>interval</param-name>
    		<param-value>50</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>4000</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.live.LiveCoinExchange</param-value>
    </init-param>
    <init-param>
	    <param-name>candidatedScore</param-name>
    		<param-value>0.99</param-value>
    </init-param>
    <init-param>
	    <param-name>minPricePlaces</param-name>
    		<param-value>8</param-value>
    </init-param>    
    <init-param>
	    <param-name>currencyFilters</param-name>
    		<param-value>BTC</param-value>
    </init-param> 
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveTriangularArbitrageServlet</servlet-name>
    <url-pattern>/live_tri_arb</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LiveForceSellServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.ForceSellServlet</servlet-class>
    <init-param>
	    <param-name>key</param-name>
    		<param-value>4sKS7g6De4ceu15ETJHGCeH32wENgvhV</param-value>
    </init-param>
    <init-param>
	    <param-name>secret</param-name>
    		<param-value>mQjf2TQMqxm8SQFBdxYmyxaE6U7qxmGv</param-value>
    </init-param>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>BTC</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>500</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.live.LiveCoinExchange</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveForceSellServlet</servlet-name>
    <url-pattern>/live_forcesell</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>HitBTCZigzagServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.ZigzagServlet</servlet-class>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
   <init-param>
	    <param-name>interval</param-name>
    		<param-value>60</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>200</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.hitbtc.DummyHitBTCExchange</param-value>
    </init-param>
    <init-param>
	    <param-name>pairFilters</param-name>
    		<param-value>BCH/BTC</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitBTCZigzagServlet</servlet-name>
    <url-pattern>/hitbtc_zigzag</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DummyCEXExchangeServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.TriangularArbitrageServlet</servlet-class>
    <init-param>
	    <param-name>mailTo</param-name>
    		<param-value>wizarud@gmail.com,tonaerospace.etc@gmail.com</param-value>
    </init-param>
    <init-param>
	    <param-name>counterCurrency</param-name>
    		<param-value>BTC</param-value>
    </init-param>
    <init-param>
	    <param-name>delay</param-name>
    		<param-value>200</param-value>
    </init-param>
   <init-param>
	    <param-name>interval</param-name>
    		<param-value>60</param-value>
    </init-param>
    <init-param>
	    <param-name>processDelay</param-name>
    		<param-value>1000</param-value>
    </init-param>
    <init-param>
	    <param-name>candidatedScore</param-name>
    		<param-value>0.99</param-value>
    </init-param>
    <init-param>
	    <param-name>exchange</param-name>
    		<param-value>com.eoss.hft.exchange.cex.DummyCEXExchange</param-value>
    </init-param>
    <init-param>
	    <param-name>currencyFilters</param-name>
    		<param-value>BTC</param-value>
    </init-param>    
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyCEXExchangeServlet</servlet-name>
    <url-pattern>/cex_tri_arb</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>EventLogServlet</servlet-name>
    <servlet-class>com.eoss.hft.servlet.EventLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventLogServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>